<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>services</display-name>

    <context-param>
        <param-name>wicket.configuration</param-name>
        <param-value>development</param-value>
    </context-param>
    
    <filter>
        <filter-name>App</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>frontend.App</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>SecureApp</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>secured.SecureApp</param-value>
        </init-param>
    </filter>  
    <filter-mapping>
        <filter-name>SecureApp</filter-name>
        <url-pattern>/secured/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>App</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>    
  <welcome-file-list>
    <welcome-file>/public</welcome-file>
  </welcome-file-list>

<!--     <security-constraint> -->
<!--          <display-name>Login page</display-name> -->
<!--          <web-resource-collection> -->
<!--              <web-resource-name>Login page</web-resource-name> -->
<!--              <url-pattern>/public</url-pattern> -->
<!--              <http-method>GET</http-method> -->
<!--              <http-method>POST</http-method> -->
<!--          </web-resource-collection> -->
<!--          <auth-constraint> -->
<!--              <role-name>*</role-name> -->
<!--          </auth-constraint> -->
<!--      </security-constraint> -->

<!--      <login-config> -->
<!--          <auth-method>FORM</auth-method> -->
<!--          <realm-name>sso</realm-name> -->
<!--          <form-login-config> -->
<!--              <form-login-page>/login</form-login-page> -->
<!--              <form-error-page>/login</form-error-page> -->
<!--          </form-login-config> -->
<!--      </login-config>  -->

</web-app>