<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>frontend</display-name>

    <context-param>
        <param-name>wicket.configuration</param-name>
        <param-value>development</param-value>
    </context-param>
    
    <filter>
        <filter-name>App</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>frontend.App</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>SecureApp</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>frontend.SecureApp</param-value>
        </init-param>
    </filter>  
    <filter-mapping>
        <filter-name>App</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecureApp</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>
    
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
  </welcome-file-list>
  
  <login-config>
  	  <auth-method>FORM</auth-method>
  	  <form-login-config>
  	  		<form-login-page>/frontend/Login.html</form-login-page>
  	  		<form-error-page>/Login.html</form-error-page>
  	  </form-login-config>
  </login-config>
  
  <security-constraint>
  <web-resource-collection>
    <web-resource-name>secure</web-resource-name>
    <url-pattern>/secure/*</url-pattern>
    
      <http-method>DELETE</http-method>
      <http-method>PUT</http-method>
      <http-method>HEAD</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
  </web-resource-collection>
  <auth-constraint>
    <role-name>AuthenticatedUsers</role-name>
  </auth-constraint>
  </security-constraint>
</web-app>